body {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
    height: 330px;
    margin: 0px;
    width: 100%;
}

header h1 {
    margin: 0px;
    color: white;
    text-align: center;
    font-family: ;
}